<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="well">
      <div class="row">
        <div class="col-md-12">
          <h3>Have you any problem or question ?</h3>
          <p>Contact with us admin@arden.com
          </p>

          <h3>Author</h3>
          <p>Bartosz Betka</p>

        </div>
      </div>
    </div>
  </div>
</div>
