<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="well">
			<%= link_to("Add new category", {:action => 'new'}, :class => 'btn btn-primary') %>

			<div class="manage-row">
				<%= render 'categories/manage_row'%>
			</div>
		</div>
	</div>
</div>
